<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My movies</title>
</head>

<body>
    <h1>My movies</h1>
    <ul>
    <% @movies.each do |movie| %>
        <li>
        <%= movie.title %>
        </li>
    <% end %>
    </ul>
    <a href="/movies/new">Add New Movies</a>
</body>

</html>