<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My movies - Add Movies</title>
</head>

<body>
    <h1>Add New movies</h1>
    <form method="POST" action="/movies/create">
        <table>
            <tr>
        <td><label for="title">Title:</label></td>
        <td><input type="text" name="title"></td>
        </tr>
             <tr>
        <td><label for="director">Director:</label></td>
        <td><input type="text" name="director"></td>
         </tr>
          <tr>
        <td><label for="year">Year Published:</label></td>
        <td><input type="text" name="year"></td>
         </tr>
          <tr>
        <td><input type="submit"></td>
        </table>
    </form>
    <a href="/movies/new">Add New Movies</a>
</body>

</html>